@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
}

/* Header */
#header{
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  max-width: 170%;
  width: 1320px;
  margin: auto;
  align-items: center;
  display: flex;
}

.bg {
  background-image: linear-gradient( #070211 0%, rgba(7, 2, 17, 0) 100%), url('../images/BannerImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  justify-content: center;
  text-align: center;
  height: 600px;
}

.header_text {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header_text h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.header_text h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 100px;
  max-width: 600px;
  margin: auto;
}





/* Offer */
#offer{
  margin-bottom: 120px;
}

#offer .sec_container{
  align-items: center;
  text-align: center;
}

#offer .sec_container h1{
  color: #F00;
  font-family: Inter;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 29px;
}

#offer .sec_container p{
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
}

#offer .sec_container h3{
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 43px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}

#offer .sec_container img{
  width: 755px;
}





/* Welcome */
#welcome{
  margin-bottom: 120px;
}

.bg2{
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
}

.welcome_text{
  margin-left: 120px;
}

.welcome_img{
  margin-right: 120px;
}

.welcome_text h3{
  width: 640px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: 7px;
}

.welcome_text p{
  width: 697px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}

.btn{
  border: none;
  padding: 13px 30px;
  margin-top: 30px;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: #F00;
  cursor: pointer;
  transition: all 1s;
}

.btn:hover{
  color:#F00;
  background: white;

}




/* Place */

#place{
  margin-bottom: 120px;
}

#place .gr_bg{
  background: linear-gradient( #ffe0e0 0%, #fff 100%);
  height: 470px;
  border-radius: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.place_content .place_text span{
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.place_content .place_text{
  color: #070211;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 10px;
}

