@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
}

.head {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.black {
  color: #070211;
}

.text_head {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.text_head h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 52px;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: 23px;
}

.text_head h1 span {
  color: #f00;
  text-align: center;
  font-family: Merriweather;
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.text_head p {
  width: 800px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  display: flex;
}

.text_port h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 52px;
  font-weight: 900;
  margin-top: 13px;
  margin-bottom: 13px;
}


.text_port p {
  width: 800px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  display: flex;
  margin-bottom: 45px;
}

/* Header */
#header {
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  max-width: 170%;
  width: 1320px;
  margin: auto;
  align-items: center;
  display: flex;
}

.bg {
  background-image: linear-gradient(#070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../images/BannerImage.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  justify-content: center;
  text-align: center;
  height: 600px;
}

.header_text {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header_text h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.header_text h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 100px;
  max-width: 600px;
  margin: auto;
}

/* Offer */
#offer {
  margin-bottom: 120px;
}

#offer .sec_container {
  align-items: center;
  text-align: center;
}

#offer .sec_container h1 {
  color: #f00;
  font-family: Inter;
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 29px;
}

#offer .sec_container p {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
}

#offer .sec_container h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 43px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 40px;
}

#offer .sec_container img {
  width: 755px;
}

/* Welcome */
#welcome {
  margin-bottom: 120px;
}

.bg2 {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
}

.welcome_text {
  margin-left: 120px;
}

.welcome_img {
  margin-right: 120px;
}

.welcome_text h3 {
  width: 640px;
  color: #fff;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: 7px;
}

.welcome_text p {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}

.btn {
  border: none;
  padding: 13px 30px;
  margin-top: 30px;
  border-radius: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: #f00;
  cursor: pointer;
  transition: all 1s;
}

.btn:hover {
  color: #f00;
  background: white;
}

/* Place */

#place {
  margin-bottom: 120px;
}

#place .gr_bg {
  background: linear-gradient(#ffe0e0 0%, #fff 100%);
  height: 470px;
  border-radius: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.place_content .place_text span {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}

.place_content .place_text {
  color: #070211;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 10px;
}

/* Coming Soon */
#coming_soon {
  margin-bottom: 120px;
}

.coming {
  justify-content: space-between;
}

.coming_text {
  width: 400px;
}

.coming_text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 17px;
  margin-bottom: 17px;
}

.coming_text p,
.coming_2024 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.coming_2024 {
  width: 300px;
}

.coming_2024 h1 {
  color: #f00;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 17px;
}

.coming_2024 img {
  width: 115px;
  margin-top: 30px;
}

.coming_img {
  width: 420px;
  height: 420px;
  flex-shrink: 0;
  border-radius: 420px;
  border: 15px solid #f00;
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Holidays Sale */



.sale {
  align-items: center;
  justify-content: center;
}

.offer {
  margin-top: -370px;
  margin-left: -150px;
}
.women_offer {
  float: right;
  margin-bottom: 50px;
}

.sale_img {
  margin-bottom: 120px;
}

.serprise_box img {
  width: 700px;
}

.serprise_box {
  margin-top: -700px;
}

/* Portfolio */
#portfolio{
  margin-bottom: 120px;
}

.port {
  justify-content: center;
}

.row {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.row2 {
  align-items: center;
  display: flex;
  gap: 30px;
}

.row,.row2 img{
  border-radius: 16px;
  cursor: pointer;
}



.img {
  width: 420px;
  height: 450px;
  display: flex;
  position: relative;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.img_description {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #68b0c884;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  transition: 1.8s;
  cursor: pointer;
}

.img:hover .img_description {
  right: 0;
}

.img_description h1 {
  line-height: 30px;
  text-align: center;
  font-size: 22px;
  font-weight: 800;
  color: white;
  padding: 30px;
  display: flex;
  margin-top: 170px;
}





/* Newsletter */
#news_letter{
  margin-bottom: 120px;
}

#news_letter .p_bg {
  background-color: rgba(255, 0, 0, 0.05);
  height: 600px;
  border-radius: 16px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.newsletter_content h1 {
  color: #3279EC;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 900;
  margin-top: 26px;
  margin-bottom: 22px;
}
.newsletter_content h1 span {
  color: #FBC007;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 900;
  margin-top: 26px;
  margin-bottom: 22px;
}

.newsletter_content p {
  width: 800px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.form{
  display: flex;
  justify-content: center;
  width: 700px;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  margin-top: 10px;
}


.form input{
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 50px 0 0 50px ;
  outline: none;
  font-size: 17px;
  font-weight: 700;
  font-family: Inter;
}

input::placeholder{
  color: rgba(7, 2, 17, 0.30);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
}

.form{
  padding-top: 50px;
}

.form_btn{
  padding: 18.5px 50px;
  border: none;
  border-radius: 0px 50px 50px 0px;
  margin: auto;
  font-size: 17px;
}


